<h2>Smoothie Details</h2>

<hr/>
<div *ngIf="smoothie">
  <div>
    <label><b>Name: </b></label> {{smoothie.name}}
  </div>
  <div>
    <label><b>vitaminA: </b></label> {{smoothie.vitaminA}}
  </div>
  <div>
    <label><b>vitaminB: </b></label> {{smoothie.vitaminB}}
  </div>
  <div>
    <label><b>vitaminC: </b></label> {{smoothie.vitaminC}}
  </div>
  <div>
    <label><b>calcium: </b></label> {{smoothie.calcium}}
  </div>
  <div>
    <label><b>iron: </b></label> {{smoothie.iron}}
  </div>
  <div>
    <label><b>iron: </b></label> {{smoothie.iron}}
  </div>
  <div>
    <label><b>protein: </b></label> {{smoothie.protein}}
  </div>
  <div>
    <label><b>carbohydrates: </b></label> {{smoothie.carbohydrates}}
  </div>
  <div>
    <label><b>cholesterol: </b></label> {{smoothie.cholesterol}}
  </div>
  <div>
    <label><b>fat: </b></label> {{smoothie.fat}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Smoothie List</button><br>


